<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cyber Tutorial</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css" />
    <link rel="stylesheet" href="~/css/employee-quiz.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
    </header>

    <main class="mt-2">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="mt-auto p-3 bg-dark">
        <div class="container text-center text-muted pb-1">
            <small>Copyright &copy; CyberTutorials</small>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/visibilityjs/lib/visibility.core.min.js"></script>
    <script src="~/lib/visibilityjs/lib/visibility.timers.min.js"></script>
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>