@model EmployeeModel
@{
    ViewData["Title"] = "Employee";
    Layout = "EmployeeLayout";
}

<!--title-->
<div class="row mb-2">
    <div class="col-md-12">
        <h4 class="text-white">Dashboard</h4>
    </div>
</div>
<!--title-->
<!--cards-->
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
        <div class="card card-stats bg-dark">
            <div class="card-header">
                <div class="icon icon-warning">
                    <span><i class="fa bi bi-book fa-beat-fade"></i></span>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total Courses</strong></p>
                <h3 class="card-title icon icon-warning">6</h3>
            </div>
            <div class="card-footer">
                <div class="stats icon-info">
                    <div class="icon text-secondary">
                        <i class="bi bi-bell-fill"></i>
                    </div>
                    <span class="text-muted small pt-2 ps-1">Last Modified</span>
                    <span class="text-white small pt-1 fw-bold">10/12/2022 9:09 AM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
        <div class="card card-stats bg-dark">
            <div class="card-header">
                <div class="icon icon-rose">
                    <span><i class="fa bi bi-file-text fa-beat-fade"></i></span>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total Quizzes</strong></p>
                <h3 class="card-title icon icon-rose">2</h3>
            </div>
            <div class="card-footer">
                <div class="stats icon-info">
                    <div class="icon text-secondary">
                        <i class="bi bi-bell-fill"></i>
                    </div>
                    <span class="text-muted small pt-2 ps-1">Last Modified</span>
                    <span class="text-white small pt-1 fw-bold">10/12/2022 9:09 AM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
        <div class="card card-stats bg-dark">
            <div class="card-header">
                <div class="icon icon-success">
                    <span><i class="fa bi bi-box-seam fa-beat-fade"></i></span>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Library Updates</strong></p>
                <h3 class="card-title icon icon-success">3+</h3>
            </div>
            <div class="card-footer">
                <div class="stats icon-info">
                    <div class="icon text-secondary">
                        <i class="bi bi-bell-fill"></i>
                    </div>
                    <span class="text-muted small pt-2 ps-1">Last Modified</span>
                    <span class="text-white small pt-1 fw-bold">10/12/2022 9:09 AM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
        <div class="card card-stats bg-dark">
            <div class="card-header">
                <div class="icon icon-info">
                    <span><i class="fa bi bi-speedometer fa-beat-fade"></i></span>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Performance</strong></p>
                <h3 class="card-title icon icon-info">20%</h3>
            </div>
            <div class="card-footer">
                <div class="stats icon-info">
                    <div class="icon text-secondary">
                        <i class="bi bi-bell-fill"></i>
                    </div>
                    <span class="text-muted small pt-2 ps-1">Last Modified</span>
                    <span class="text-white small pt-1 fw-bold">10/12/2022 9:09 AM</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--cards-->
<!--charts & notifications-->
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card bg-dark text-white">
            <div class="card-header">
                <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                Employee Performance
            </div>
            <div class="card-body">
                <canvas class="chart" style="height: 35vh;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card bg-dark text-white">
            <div class="card-header">
                <span class="me-2"><i class="bi bi-pie-chart"></i></span>
                Employee Result
            </div>
            <div class="card-body">
                <canvas class="pieChart" style="height: 35vh;"></canvas>
            </div>
        </div>
    </div>
</div>
<!--charts & notifications-->
<!-- tables & activities-->
<div class="row">
    <div class="col-md-12">
        <div class="card bg-dark text-white">
            <div class="card-header">
                <span><i class="fa-solid fa-fw fa-table me-2"></i></span> Top Employees
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example"
                           class="table table-striped data- table-light"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hermione Butler</td>
                                <td>Regional Director</td>
                                <td>London</td>
                                <td>47</td>
                            </tr>
                            <tr>
                                <td>Lael Greer</td>
                                <td>Systems Administrator</td>
                                <td>London</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>Jonas Alexander</td>
                                <td>Developer</td>
                                <td>San Francisco</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Shad Decker</td>
                                <td>Regional Director</td>
                                <td>Edinburgh</td>
                                <td>51</td>
                            </tr>
                            <tr>
                                <td>Michael Bruce</td>
                                <td>Javascript Developer</td>
                                <td>Singapore</td>
                                <td>29</td>
                            </tr>
                            <tr>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                                <td>27</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tables-->


<div class="toast-container position-absolute p-3 top-0 end-0 mt-5">
    <div class="toast" id="LogoutErrorToast">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
            <strong class="me-auto">Log out failed</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            You can try reloading the page. If the error persists, please try again in a few minutes.
        </div>
    </div>
</div>

@Html.Hidden("RedirectToHome", Url.Action("Index", "Home"))