@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}
<!--stats-->
<div class="container mt-5">
    <div class="row">
        <div class="col-7 align-self-center">
            <h1 class="text-white display-3 fw-bold">Your Lightning Fast Security Awareness Partner</h1>
        </div>
        <div class="col-5">
            <img src="~/Images/hero-img.svg" class="img-fluid mb-3 mb-0" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 text-white">
            <div class="counter fs-4" data-target="@Model.AppRecordsModel.Clients">0</div>
            <hr />
            <p class="fs-4">Clients</p>
        </div>
        <div class="col-lg-2 text-white">
            <div class="counter fs-4" data-target="@Model.AppRecordsModel.Support">0</div>
            <hr />
            <p class="fs-4">Support</p>
        </div>
        <div class="col-lg-2 text-white">
            <div class="counter fs-4" data-target="@Model.AppRecordsModel.Workers">0</div>
            <hr />
            <p class="fs-4">Workers</p>
        </div>
    </div>
    <div class="row g-5 text-white">
        <div class="d-grid col-auto pt-4">
            <button type="button" class="btn btn-lg btn-info fs-3">
                <span class="me-3">
                    <i class="fa fa-2 fa-rocket"></i>
                </span>
                Get Started Now
            </button>
        </div>
    </div>
    <div class="row text-white">
        <div class="col-auto pt-4">
            <h5>Want to try Cyber Tutorial for your business?</h5>
            <a href="http://www.google.com" class="link-light">Get a free business trial</a>
        </div>
    </div>
</div>
<!--stats-->
<!--carousel-->
<div class="row">
    <div class="col-12 mt-5">
        <div id="carouselHome" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Images/Carousel1.jpeg" class="d-block carousel-img-style" alt="Carousel1">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/Carousel2.jpeg" class="d-block carousel-img-style" alt="Carousel2">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/Carousel3.jpeg" class="d-block carousel-img-style" alt="Carousel3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!--carousel-->

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-auto p-0">
            <h1 class="text-white display-3 fw-bold">Why is it important?</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-5 col-auto">
            <div class="row">
                <div class="col-2 tick-mark-style">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M19.5 7.5L9.75 17.25L4.5 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-auto p-0">
                    <strong class="fw-light lh-base text-white text-wrap fs-5">
                        The greatest threat to privacy comes from human errors, one of the most severe
                        vulnerabilities of our time.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 justify-content-end">
        <div class="col-lg-5 col-auto">
            <div class="row">
                <div class="col-2 tick-mark-style">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M19.5 7.5L9.75 17.25L4.5 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-auto p-0">
                    <strong class="fw-light lh-base text-white text-wrap fs-5">
                        It is common for hackers to exploit human errors to launch their attacks. According
                        to studies, human error accounts for more than 90% of security breaches.
                        Consequently, organizations have a hard time reducing mistakes.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-5 col-auto">
            <div class="row">
                <div class="col-2 tick-mark-style">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M19.5 7.5L9.75 17.25L4.5 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-auto p-0">
                    <strong class="fw-light lh-base text-white text-wrap fs-5">
                        Human error can occur as a result of organizations not developing cyber awareness among
                        their employees.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 pb-5 justify-content-end border-bottom">
        <div class="col-lg-5 col-auto">
            <div class="row">
                <div class="col-2 tick-mark-style">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M19.5 7.5L9.75 17.25L4.5 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-auto p-0">
                    <strong class="fw-light lh-base text-white text-wrap fs-5">
                        The most crucial factor is to change employees thinking patterns and
                        make them worry by nature. Increasing security awareness can reduce these risks.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-auto p-0">
            <p class="text-white display-3 fw-bold">Our Features & Services</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-auto mt-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <span><i class="fa-solid fa-2xl fa-earth"></i></span>
                    <p class="fs-4 d-inline p-0">ENABLE AN INCLUSIVE LEARNING CULTURE</p>
                </div>
                <div class="card-body">
                    <p>
                        Globally inclusive learning experience in 11 languages, and compliant with the Web Content Accessibility Guidelines (WCAG) 2.1 AA.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-auto mt-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <span><i class="fa-solid fa-2xl fa-angles-right"></i></span>
                    <p class="fs-4 d-inline p-0">ALIGN TO COMPLIANCE FRAMEWORKS</p>
                </div>
                <div class="card-body">
                    <p>
                        This training is aligned with the security awareness controls of the following compliance frameworks: NIST SP 00-53r4, ISO 27001, SOC 1.4.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-auto mb-lg-5 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <span><i class="fa-solid fa-2xl fa-cloud-arrow-up"></i></span>
                    <p class="fs-4 d-inline p-0">DEPLOY IN MINUTES</p>
                </div>
                <div class="card-body">
                    <p>
                        Whether by taking the training directly from this website or implementing our pre-packaged LMS files, you can access the training in minutes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 mb-lg-5 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <span><i class="fa-solid fa-2xl fa-file-circle-check"></i></span>
                    <p class="fs-4 d-inline p-0">ENHANCE CONTENT RETENTION</p>
                </div>
                <div class="card-body">
                    <p>
                        Developed with adult learning principles to maximize content retention.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>