@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="container-fluid h-50 pt-lg-5 ps-0 pe-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 align-self-center">
                <h1 class="text-white display-3 fw-bold">Your Lightning Fast Security Awareness Partner</h1>
                <div class="row gx-lg-5 text-white pt-lg-5">
                    <div class="col-lg-2">
                        <div class="counter fs-4" data-target="@Model.AppRecordsModel.Clients">0</div>
                        <hr />
                        <p class="fs-4">Clients</p>
                    </div>
                    <div class="col-lg-2">
                        <div class="counter fs-4" data-target="@Model.AppRecordsModel.Support">0</div>
                        <hr />
                        <p class="fs-4">Support</p>
                    </div>
                    <div class="col-lg-2">
                        <div class="counter fs-4" data-target="@Model.AppRecordsModel.Workers">0</div>
                        <hr />
                        <p class="fs-4">Workers</p>
                    </div>
                </div>
                <div class="row g-lg-5 text-white pt-lg-5">
                    <div class="d-grid col-lg-auto">
                        <button type="button" class="btn btn-lg btn-info fs-3">
                            <span class="me-lg-3">
                                <i class="fa fa-2 fa-rocket"></i>
                            </span>
                            Get Started Now
                        </button>
                    </div>
                    <div class="col-lg-auto">
                        <h5>Want to try Cyber Tutorial for your business?</h5>
                        <a href="http://www.google.com" class="text-white">Get a free business trial</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="~/videos/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
            </div>
        </div>
    </div>
    <div id="carouselHome" class="carousel carousel-dark slide carousel-fade mt-lg-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/Carousel1.jpeg" class="d-block carousel-img-style" alt="Carousel1">
            </div>
            <div class="carousel-item">
                <img src="~/Images/Carousel2.jpeg" class="d-block carousel-img-style" alt="Carousel2">
            </div>
            <div class="carousel-item">
                <img src="~/Images/Carousel3.jpeg" class="d-block carousel-img-style" alt="Carousel3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container-fluid w-50 h-100">
    <div class="row justify-content-center mt-lg-5">
        <div class="col-lg-auto p-0">
            <h1 class="text-white display-3 fw-bold">Why is it important?</h1>
        </div>
    </div>
    <div class="row mt-lg-4">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-2 tick-mark-style">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M19.5 7.5L9.75 17.25L4.5 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="row pt-lg-2">
                <div class="col-lg-auto p-0">
                    <strong class="fw-light lh-base text-white text-wrap fs-5">
                        The greatest threat to privacy comes from human errors, one of the most severe
                        vulnerabilities of our time.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-lg-4 justify-content-end">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-2 tick-mark-style">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M19.5 7.5L9.75 17.25L4.5 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="row pt-lg-2">
                <div class="col-lg-auto p-0">
                    <strong class="fw-light lh-base text-white text-wrap fs-5">
                        It is common for hackers to exploit human errors to launch their attacks. According
                        to studies, human error accounts for more than 90% of security breaches.
                        Consequently, organizations have a hard time reducing mistakes.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-lg-4">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-2 tick-mark-style">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M19.5 7.5L9.75 17.25L4.5 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="row pt-lg-2">
                <div class="col-lg-auto p-0">
                    <strong class="fw-light lh-base text-white text-wrap fs-5">
                        Human error can occur as a result of organizations not developing cyber awareness among
                        their employees.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-lg-4 pb-lg-5 justify-content-end border-bottom">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-2 tick-mark-style">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M19.5 7.5L9.75 17.25L4.5 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="row pt-lg-2">
                <div class="col-lg-auto p-0">
                    <strong class="fw-light lh-base text-white text-wrap fs-5">
                        The most crucial factor is to change employees thinking patterns and
                        make them worry by nature. Increasing security awareness can reduce these risks.
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-lg-5">
        <div class="col-lg-auto p-0">
            <p class="text-white display-3 fw-bold">Our Features & Services</p>
        </div>
    </div>
    <div class="row mt-lg-4 pb-lg-5 g-lg-5">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="row g-0 bg-light text-dark border rounded-3 h-100">
                    <div class="col-lg-4">
                        <svg viewBox="0 -1.25 24 24" fill="black">
                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM14.8055 18.4151C17.1228 17.4003 18.7847 15.1667 18.9806 12.525C18.1577 12.9738 17.12 13.3418 15.9371 13.598C15.7882 15.4676 15.3827 17.1371 14.8055 18.4151ZM9.1945 5.58487C7.24725 6.43766 5.76275 8.15106 5.22208 10.244C5.4537 10.4638 5.84813 10.7341 6.44832 11.0008C6.89715 11.2003 7.42053 11.3798 8.00537 11.5297C8.05853 9.20582 8.50349 7.11489 9.1945 5.58487ZM10.1006 13.9108C10.2573 15.3675 10.5852 16.6202 10.9992 17.5517C11.2932 18.2133 11.5916 18.6248 11.8218 18.8439C11.9037 18.9219 11.9629 18.9634 12 18.9848C12.0371 18.9634 12.0963 18.9219 12.1782 18.8439C12.4084 18.6248 12.7068 18.2133 13.0008 17.5517C13.4148 16.6202 13.7427 15.3675 13.8994 13.9108C13.2871 13.9692 12.6516 14 12 14C11.3484 14 10.7129 13.9692 10.1006 13.9108ZM8.06286 13.598C8.21176 15.4676 8.61729 17.1371 9.1945 18.4151C6.8772 17.4003 5.21525 15.1666 5.01939 12.525C5.84231 12.9738 6.88001 13.3418 8.06286 13.598ZM13.9997 11.8896C13.369 11.9609 12.6993 12 12 12C11.3008 12 10.631 11.9609 10.0003 11.8896C10.0135 9.66408 10.4229 7.74504 10.9992 6.44832C11.2932 5.78673 11.5916 5.37516 11.8218 5.15605C11.9037 5.07812 11.9629 5.03659 12 5.01516C12.0371 5.03659 12.0963 5.07812 12.1782 5.15605C12.4084 5.37516 12.7068 5.78673 13.0008 6.44832C13.5771 7.74504 13.9865 9.66408 13.9997 11.8896ZM15.9946 11.5297C15.9415 9.20582 15.4965 7.11489 14.8055 5.58487C16.7528 6.43766 18.2373 8.15107 18.7779 10.244C18.5463 10.4638 18.1519 10.7341 17.5517 11.0008C17.1029 11.2003 16.5795 11.3798 15.9946 11.5297Z" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div class="col-lg-8 pt-lg-4 pb-lg-4 pe-lg-4">
                        <p class="fs-4 fw-bold">ENABLE AN INCLUSIVE LEARNING CULTURE</p>
                        <p>
                            Globally inclusive learning experience in 11 languages, and compliant with the Web Content Accessibility Guidelines (WCAG) 2.1 AA.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="row g-0 bg-light border rounded-3 h-100">
                    <div class="col-lg-4">
                        <svg viewBox="0 -1.25 24 24" fill="black">
                            <path d="M5.63605 7.75735L7.05026 6.34314L12.7071 12L7.05029 17.6568L5.63608 16.2426L9.87869 12L5.63605 7.75735Z"></path>
                            <path d="M12.7071 6.34314L11.2929 7.75735L15.5356 12L11.2929 16.2426L12.7072 17.6568L18.364 12L12.7071 6.34314Z"></path>
                        </svg>
                    </div>
                    <div class="col-lg-8 pt-lg-4 pb-lg-4 pe-lg-4">
                        <p class="fs-4 fw-bold">ALIGN TO COMPLIANCE FRAMEWORKS</p>
                        <p>
                            This training is aligned with the security awareness controls of the following compliance frameworks: NIST SP 00-53r4, ISO 27001, SOC 1.4.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="row g-0 bg-light border rounded-3 h-100">
                    <div class="col-lg-4">
                        <svg viewBox="0 -1.25 24 24" fill="black">
                            <path d="M11 14.9861C11 15.5384 11.4477 15.9861 12 15.9861C12.5523 15.9861 13 15.5384 13 14.9861V7.82831L16.2428 11.0711L17.657 9.65685L12.0001 4L6.34326 9.65685L7.75748 11.0711L11 7.82854V14.9861Z"></path>
                            <path d="M4 14H6V18H18V14H20V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V14Z"></path>
                        </svg>
                    </div>
                    <div class="col-lg-8 pt-lg-4 pb-lg-4 pe-lg-4">
                        <p class="fs-4 fw-bold">DEPLOY IN MINUTES</p>
                        <p>
                            Whether by taking the training directly from this website or implementing our pre-packaged LMS files, you can access the training in minutes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="row g-0 text-dark bg-light border rounded-3 h-100">
                    <div class="col-lg-4">
                        <svg viewBox="0 -1.25 24 24" fill="black">
                            <path d="M7 18H17V16H7V18Z"></path>
                            <path d="M17 14H7V12H17V14Z"></path>
                            <path d="M7 10H11V8H7V10Z"></path>
                            <path d="M6 2C4.34315 2 3 3.34315 3 5V19C3 20.6569 4.34315 22 6 22H18C19.6569 22 21 20.6569 21 19V9C21 5.13401 17.866 2 14 2H6ZM6 4H13V9H19V19C19 19.5523 18.5523 20 18 20H6C5.44772 20 5 19.5523 5 19V5C5 4.44772 5.44772 4 6 4ZM15 4.10002C16.6113 4.4271 17.9413 5.52906 18.584 7H15V4.10002Z" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div class="col-lg-8 pt-lg-4 pb-lg-4 pe-lg-4">
                        <p class="fs-4 fw-bold">ENHANCE CONTENT RETENTION</p>
                        <p>
                            Developed with adult learning principles to maximize content retention.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Shared/Login/LoginPartial.cshtml" model="Model.LoginModel" />
<partial name="~/Views/Shared/Register/RegisterPartial.cshtml" model="Model.RegisterModel"/>