body, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: #1B1D21;
}

:root {
    --offcanvas-width: 280px;
    --topNavbarHeight: 56px;
}

.sidebar-nav {
    width: var(--offcanvas-width);
}

.sidebar-link {
    display: flex;
    align-items: center;
}

    .sidebar-link .right-icon {
        display: inline-flex;
    }

    .sidebar-link[aria-expanded="true"] .right-icon {
        transform: rotate(180deg);
    }

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }

    main {
        margin-left: var(--offcanvas-width);
    }

    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
        display: none;
    }

    .sidebar-nav {
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
        height: calc(100% - var(--topNavbarHeight));
        top: var(--topNavbarHeight);
    }
}

.card {
    margin: 10px 0;
}

.card {
    border-radius: 0px !important;
}

.card {
    display: inline-block;
    position: relative;
    border: none !important;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}

.card-stats .card-header {
    float: left;
    text-align: center;
    background-color: transparent;
}

.card .card-header {
    padding: 15px 20px 0;
    z-index: 3;
    border-bottom: none;
}

.card .card-footer .stats {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card-stats .card-header span {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.icon.icon-warning {
    color: #ff9800;
}

.icon.icon-rose {
    color: #e91e63;
}

.icon.icon-success {
    color: #4caf50;
}

.icon.icon-info {
    color: #00bcd4;
}

.card .card-footer {
    margin: 0 7px 0px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

.text-info {
    color: #03A9F4 !important;
}

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}

    .card .card-content .category {
        margin-bottom: 10px;
    }

.card .category:not([class*="text-"]) {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.card .card-title:not(.card-calendar, .card-title) {
    margin-top: 0;
    margin-bottom: 5px;
}

.card-stats .card-title {
    margin: 0;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #555555;
    font-size: 15px;
}

.card .card-footer div {
    display: inline-block;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}
