@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="row pt-lg-5">
        <div class="col">
            <p class="text-white display-3 fw-bold">Our Vision</p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-7">
            <p class="text-white fs-6 fw-normal">
                Whirlwind FX was founded by PC gamers who wanted to democratize the gaming experience melding hardware with software. We thrive to provide hardware and accessories engineered to push the boundaries of elite performance, premium quality, affordability, and immersion.
            </p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-7">
            <p class="text-white fs-6 fw-normal">
                Our mission is to develop fully-immersive experiences that add next-level presence and depth. The thrill of the sensation will unlock a new way to game, watch a video, and experience digital media.
            </p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-7">
            <p class="text-white fs-6 fw-normal">
                Our claim to fame is Vortx, the first wind and heat machine that works with any game. Then we turned to mechanical keyboards using our deep technological advantage. The Element is the only RGB LED keyboard that can respond to any game or video with dynamic RGB effects.
            </p>
        </div>
    </div>
    <div class="row pt-lg-3">
        <div class="col-lg-6">
            <p class="text-white fs-6 fw-bold fst-italic">
                Immerse yourself and upgrade your battlestation.
            </p>
        </div>
    </div>
    <div class="row pt-lg-3">
        <div class="col-lg-6">
            <p class="text-white fs-6 fw-bold fst-italic">
                Join us in revolutionizing gaming forever.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pt-lg-5">
        <div class="col">
            <p class="text-white display-3 fw-bold">What We Do</p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-4">
            <div class="card">
                <img src="~/Images/Carousel1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center card-title-style">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="~/Images/Carousel2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center card-title-style">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="~/Images/Carousel2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center card-title-style">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pt-lg-5">
        <div class="col">
            <p class="text-white display-3 fw-bold">Our Story</p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-7">
            <p class="text-white fs-6 fw-normal">
                Whirlwind FX was founded by PC gamers who wanted to democratize the gaming experience melding hardware with software. We thrive to provide hardware and accessories engineered to push the boundaries of elite performance, premium quality, affordability, and immersion.
            </p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-7">
            <p class="text-white fs-6 fw-normal">
                Our mission is to develop fully-immersive experiences that add next-level presence and depth. The thrill of the sensation will unlock a new way to game, watch a video, and experience digital media.
            </p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-7">
            <p class="text-white fs-6 fw-normal">
                Our claim to fame is Vortx, the first wind and heat machine that works with any game. Then we turned to mechanical keyboards using our deep technological advantage. The Element is the only RGB LED keyboard that can respond to any game or video with dynamic RGB effects.
            </p>
        </div>
    </div>
    <div class="row pt-lg-3">
        <div class="col-lg-6">
            <p class="text-white fs-6 fw-bold">
                Immerse yourself and upgrade your battlestation.
            </p>
        </div>
    </div>
    <div class="row pt-lg-3">
        <div class="col-lg-6">
            <p class="text-white fs-6 fw-bold">
                Join us in revolutionizing gaming forever.
            </p>
        </div>
    </div>
</div>