@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-white display-4">Vision</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-auto pt-1">
            <p class="text-white fs-6 fw-normal">
                To become an outstanding world-class cyber awareness trainers to change employee cyber behavior.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-white display-4">Our Story</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-auto pt-1">
            <p class="text-white fs-6 fw-normal">
                Ambitious higher college of technology students who have high hopes for the future in raising cyber security awareness to protect organizations from the latest incidents caused by human error.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-auto pt-1">
            <p class="text-white fs-6 fw-normal">
                We had to solve a problem for our graduation project. we decided to create a platform, to help employees know their capabilities and weaknesses in cyber security,
                Security awareness for employees is the most important thing that can be provided to them to avoid any danger that occurs.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-auto pt-1">
            <p class="text-white fs-6 fw-normal">
                Our end-to-end corporate cyber security training platform is driven by data science and is proven to change employee behavior, decrease employee high-risk groups by 82%.   
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col pt-1">
            <p class="text-white display-4">How It Works</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-auto pt-1">
            <ul class="text-white fs-6 fw-normal">
                <li>Answer ten questions and test your organization's level of knowledge.</li>
                <li>Cyber tutorials recommend suggested training content based on your answers.</li>
                <li>We will contact you to get your program started.</li>
                <li>Easily export detailed and executive reports PDF versions of your employee progression.</li>
                <li>Get access to a large security awareness training library with the latest updated content.</li>
                <li>Get a fully mature awareness program ready in 5 minutes.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col pt-1">
            <p class="text-white display-4">Features</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 pt-2">
            <ul class="text-white fs-6 fw-normal">
                <li>Customized content</li>
                <li>Aligns with INSIMA</li>
                <li>Frequently updated content</li>
                <li>Well-constructed content</li>
                <li>Increase employee resilience score by 5x in months of training</li>
            </ul>
        </div>
    </div>
</div>
@*
<div class="container">
    <div class="row pt-lg-5">
        <div class="col">
            <p class="text-white display-3 fw-bold">What We Do</p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-4">
            <div class="card">
                <img src="~/Images/Carousel1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center card-title-style">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="~/Images/Carousel2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center card-title-style">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="~/Images/Carousel2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center card-title-style">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pt-lg-5">
        <div class="col">
            <p class="text-white display-3 fw-bold">Our Story</p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-7">
            <p class="text-white fs-6 fw-normal">
                Whirlwind FX was founded by PC gamers who wanted to democratize the gaming experience melding hardware with software. We thrive to provide hardware and accessories engineered to push the boundaries of elite performance, premium quality, affordability, and immersion.
            </p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-7">
            <p class="text-white fs-6 fw-normal">
                Our mission is to develop fully-immersive experiences that add next-level presence and depth. The thrill of the sensation will unlock a new way to game, watch a video, and experience digital media.
            </p>
        </div>
    </div>
    <div class="row pt-lg-2">
        <div class="col-lg-7">
            <p class="text-white fs-6 fw-normal">
                Our claim to fame is Vortx, the first wind and heat machine that works with any game. Then we turned to mechanical keyboards using our deep technological advantage. The Element is the only RGB LED keyboard that can respond to any game or video with dynamic RGB effects.
            </p>
        </div>
    </div>
    <div class="row pt-lg-3">
        <div class="col-lg-6">
            <p class="text-white fs-6 fw-bold">
                Immerse yourself and upgrade your battlestation.
            </p>
        </div>
    </div>
    <div class="row pt-lg-3">
        <div class="col-lg-6">
            <p class="text-white fs-6 fw-bold">
                Join us in revolutionizing gaming forever.
            </p>
        </div>
    </div>
</div>*@